<!-- <app-navigation></app-navigation>
<section class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <h1>Issue credentials</h1>
            <p>We are issuing a new set of credentials with your information. Please remember that the previous one will
                be <strong>disabled.</strong> Please delete the previous credential from your wallet.</p>
        </div>
    </div>
</section> -->
<div class="row">
    <div *ngIf="credential$ | async; let credential" class="col-12">
        <div class="cv-light-box p-4 d-flex flex-column">
            <div *ngIf="credential.length == 0; then getConnected else proofRequest"></div>
            <ng-template #getConnected>
                <div class="cv-connection-step mb-4">
                    <i class="fas fa-check-circle"></i>
                    <h4>Initializing</h4>
                    <app-spinner></app-spinner>
                </div>
            </ng-template>
            <ng-template #proofRequest>
                <div *ngIf="credential[0].cred_exchange_data.state == 'initialize';">
                    <div class="cv-connection-step">
                        <i class="fas fa-check-circle"></i>
                        <div class="cv-step-text">
                            <h4>Preparing Offer!</h4>
                        </div>
                    </div>
                </div>
                <div *ngIf="credential[0].cred_exchange_data.state == 'offer_sent';">
                    <div class="cv-connection-step">
                        <i class="fas fa-check-circle"></i>
                        <div class="cv-step-text">
                            <h4>Offer Sent!</h4>
                        </div>
                    </div>
                </div>
                <div *ngIf="credential[0].cred_exchange_data.state == 'request_received';">
                    <div class="cv-connection-step">
                        <i class="fas fa-check-circle"></i>
                        <div class="cv-step-text">
                            <h4>Request Receieved!</h4>
                        </div>
                    </div>
                </div>
                <div *ngIf="credential[0].cred_exchange_data.state == 'credential_issued';">
                    <div class="cv-connection-step">
                        <i class="fas fa-check-circle"></i>
                        <div class="cv-step-text">
                            <h4>Credential Issued!</h4>
                            {{redirectSuccess()}}
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>