<div class="container mt-4">
    <div class="row flex-row mb-5">
        <div class="col-lg-8">
            <h2>Connect with MB Central Citizen</h2>
            <p>Apply inmediatly to the <strong>Covid19 Relief benefit,</strong> by connecting and presenting your
                digital credentials issued by the <strong>MBCC -
                    Manitoba Central Citizen</strong> website:</p>
        </div>
        <div class="col-lg-4 text-center">
            <app-qrcode></app-qrcode>
        </div>
    </div>
</div>

<!-- Placed it here as the animation will look weird with this outside the router. -->
<app-footer></app-footer>