<section class="container mb-4 mt-4">
    <div class="row flex-row">
        <div class="col-12">
            <h1 class="green text-center">Congratulations {{first_name}}</h1>
            <p>Your COVID-19 Relief is on it’s way. It will take from <strong>2 to 4 days.</strong></p>
            <!-- <app-button-box color="green" title="Congratulations {{first_name}}"
                text="Your COVID-19 Relief is on it’s way. It will take from 2 to 4 days."></app-button-box> -->
        </div>
    </div>
</section>

<!-- Placed it here as the animation will look weird with this outside the router. -->
<app-footer></app-footer>